
*{
    font-family: 'Times New Roman', Times, serif;
}
.loginOuterContainer {
    height: 100vh;
    width:100vw;
    position: relative;
    top: 8%;
    /* background-image: linear-gradient(to right,#fff,violet); */
}
.loginContainer {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    /* background-image: linear-gradient(to right, #fff, violet); */
    align-content: center;
    text-align: center;
    transition: 1s ease-in;
    animation-name: slide;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}
.loginContainer input{
    width: 18vw;
}
.loginContainer input::placeholder {
    font-size: 15px;
}
.headingAuthenticate {
    /* background-color: aqua; */
    font-size: 25px;
    margin-bottom: 3%;
}

.loginInputBOx {
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 3px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid black;
    gap: 5px;
}
.loginInputBOx::placeholder{
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1.5px;
}

.textArea {
    outline: none;
    font-size: 16px;
    margin: 15px;

}
.textArea::placeholder {
    text-align: center;
    padding-top: 15px;

}
.textArea::-webkit-scrollbar {
    display: none;
}
/* .textArea {
    outline: none;
    height: 5vh;
    font-size: 15px;
    margin: 15px;

} */
#errorMessage,#errorIssues {
    color: red;
    text-decoration: solid;
    text-align: center;

}
.loginBtn {

    border: none;
    width: auto;
    height: auto;
    padding: 8px;
    text-shadow: 3px 1.5px 3px #fff;
    /* box-shadow: 3px 1.5px 3px #000; */
    text-transform: uppercase;
    background-image: linear-gradient(to right,#ffffff,violet);
}
.changePage:hover {
    font-size: 15px;
    text-decoration: underline;
}

.testLeft {
    transform: translateX(600px);
    /* background-color: aqua; */
    display: none;
}

@keyframes slide {
    0% {
        transform: translateY(600px);
        display: none;
    } 50% {
        transform: translateY(100px);
        display: none;

    }
    100% {
        transform: translateY(0px);
        z-index: 5;
        display: block;
    }
}


@media  screen and (max-width:450px) {
    
    .loginInputBOx {
        padding: 5px 33% 5px 20px;   
        width: 100%;
        /* background-color: red; */
    
    }
    .loginInputBOx::placeholder{
        font-size: 5px;
        letter-spacing: 0.5px;
        width: 150px;
    }
    .loginBtn{
        text-align: center;
        padding: 2% 20% 2% 2%;
    }
    
}